.THIS .rowSpacer-component {
    margin-top: 20px!important;
}
.THIS .button-component {
    width: 100%;
}
.THIS * {
    color : #54698d;
    font-size: 14px;
}
.THIS .modal-content {
    line-height: normal;
}