.THIS .container {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 250px;
    min-width: 200px;
}

.THIS .main_container {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    min-width: 200px;
}

.THIS .text_container p, .THIS .help_link {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    color: #54698D;
    word-wrap: break-word;
    font-size: 95%;
}

.THIS .text_container h4 {
    text-align: left;
    margin-top: 2%;
}

.THIS .help_link {
    padding-top: 5px;
    padding-bottom: 5px;
}

.THIS .help_link:hover a {
	text-decoration: underline;
    cursor: pointer;
}