/*.THIS .uiMessage.error {
    margin: auto;
}removed for sidebar addin*/
.THIS * {
    font-family: Salesforce Sans, Proxima Nova, Arial, Sans-serif;
    color: #54698d;
    font-size: 14px;
}
.THIS .uxds h3 {
    font-weight: bold;
}
.THIS .left_links {
    padding-left:0px;
}
.THIS .uiButton.default {
    box-shadow: none;
    text-shadow: none;
}

.THIS .uiButton:hover {
    color: #fff!important;
    background: #54698d!important;
}

.THIS .buttoncancel-component:hover {
	background: #fff!important;
    color: #54698d!important;
}

.THIS .uiButton {
    min-width: 95px;
    height: 35px;
    background: #0070D2!important; 
}

.THIS .button-component {
    padding: 0rem!important;
    border-radius: 5px!important;
    box-shadow: none;
}

.THIS .buttoncancel-component {
    padding: 0rem!important;
    border-radius: 5px!important;
    background: #fff!important;
    box-shadow: none;
	border-top: 1px solid #0070D2!important;
    border-bottom: 1px solid #0070D2!important;
    border-left: 1px solid #0070D2!important;
    border-right: 1px solid #0070D2!important;
}

.THIS .button-component .label {
    color: #fff!important; 
 	font-size: 100%!important; 
    text-shadow: none!important;
}

.THIS .buttoncancel-component .label {
    color: #0070D2!important; 
 	font-size: 100%!important; 
    text-shadow: none!important;
}
.THIS .bBody {
    color:#f2f2f2!important;
    font-size: medium;
    font-weight: normal;
}

.THIS .uiMessage:parent {
    padding-left: 15px;
    padding-right: 15px;
}

.THIS .uiMessage {
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 1.42857143;
    margin-left:15px;
}

.THIS .uiMessage.error {
    padding-left: 15px;
}

.THIS .uiMessage h4 {
    color: #C23934;  
}

.THIS .uiMessage span {
    color: #54698d;
}
.THIS .uiMessage > .uiBlock {
    width: 100%;
}
@media (min-width:1200px) {
    .THIS .uxds .container {
    	width: 100%;
        max-width:1280px;
    }
}

@media (min-width:970px) {
    .THIS .uxds .container {
    	width: 100%;
    }
}

@media (min-width:768px) {
    .THIS .uxds .container {
    	width: 100%;
    }
}