.THIS  {
    font-family: Salesforce Sans, Proxima Nova, Arial, Sans-serif; 
    font-size: medium;
    font-weight: normal;    
    color: #54698d;
    line-height: 1.95;
    background-color: #fff;
}

.THIS supportTicketRecipient {
    color: #3e4e69!Important;
}

.THIS .darker-component {
    color: #3e4e69!Important;
}

.THIS .multiselectleft-component {
    min-width: 215px!Important;
    height: 165px!Important;
    color: #3e4e69!Important;
    font-family: inherit!Important;
    font-size: inherit!Important;
    overflow-x: scroll;
}

.THIS .multiselectright-component {
    min-width: 215px!Important;
    height: 165px!Important;
    color: #3e4e69!Important;
    font-family: inherit!Important;
    font-size: inherit!Important;
}

.THIS .cursorHand-component {
    cursor: pointer;
    color: #54698d!important;
}

.THIS .buttonarrow-component {
    padding: .4rem!important;
    border-radius: 5px!important;
    background: #fff!important;
    box-shadow: none;
    border-top: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
    border-left: 1px solid #ccc!important;
    border-right: 1px solid #ccc!important;
}

.THIS .arrowpadding-component {
    padding: 10px!Important;    
}

.THIS .tooltip-component {
    color: #ccc!important;
    margin-left: 10px
}

.THIS .tooltip-inner { 
    background-color: #0070D2!important; 
}

.THIS .tooltip-arrow {
    border-top-color: #0070D2!important;
}

.THIS .uiButton.default {
    box-shadow: none;
    text-shadow: none;
}

.THIS .uiButton:hover {
    color: #fff!important;
    background: #54698d!important;
}

.THIS .buttoncancel-component:hover {
    background: #fff!important;
    color: #54698d!important;
}

.THIS .uiButton {
    min-width: 95px;
    height: 35px;
    background: #0070D2!important; 
}

.THIS .button-component {
    padding: 0rem!important;
    border-radius: 5px!important;
    box-shadow: none;
}

.THIS .buttoncancel-component {
    padding: 0rem!important;
    border-radius: 5px!important;
    background: #fff!important;
    box-shadow: none;
    border-top: 1px solid #0070D2!important;
    border-bottom: 1px solid #0070D2!important;
    border-left: 1px solid #0070D2!important;
    border-right: 1px solid #0070D2!important;
}

.THIS .button-component .label {
    color: #fff!important; 
    font-size: 100%!important; 
    text-shadow: none!important;
}

.THIS .buttoncancel-component .label {
    color: #0070D2!important; 
    font-size: 100%!important; 
    text-shadow: none!important;
}

.THIS .wrapfield-component {
    max-width: 500px;  
}

.THIS .loading {
    border: 0!Important;    
}

.THIS .mainSpinner-component {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.THIS .rowSpacer-component {
    margin-top: 20px!important;
}

.THIS .input-component {
    line-height: normal;
    min-width: 300px;
}

.THIS .inputnumber-component {
    line-height: normal;
    min-width: 3em!Important;
    max-width: 3em!Important;
}

.THIS .downdrop-component {
    width: 300px;
}

.THIS .rightArrow-component {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;   
    border-left: 5px solid #16325C;
}

.THIS .downArrow-component {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;    
    border-top: 5px solid #16325C;
    margin-top: 12px;
}

.THIS .downArrow-component, .THIS .rightArrow-component {    
    width: 0; 
    height: 0; 
    margin-top: 8px;
    margin-left: 10px;
    float: right;   
}

.THIS .title-component {
    float: left;
}

.THIS .title-component h3 {
    margin-top : 0px;
    margin-bottom: 0px;
}

.THIS .level-two-component {
    margin-left: 15px!important;
}

.THIS .level-three-component {
    margin-left: 30px!important;
}

.THIS .dropdata-component {
    line-height: 1!Important;    
}

.THIS .drop-component { 
    margin-top: 15px;
    margin-left:-16px !Important;
}

.THIS .dropborder-component { 
    border-top: 1px solid #e3e3e3;
}
.THIS .rightCheckbox {
    display: inline-block;
    padding-left: 15px;
}
.THIS .leftCheckbox {
    display: inline-block;
}
.THIS .uxds label {
    padding-right: 5px;
    font-weight: normal;
}
.THIS .uiInputDefaultError {
    position: absolute;
    float: left;
    top: 14px;
    width: 300px;
    height: 0px;
}

@media (min-width:1200px) {
    .THIS .uxds .container {
        width: 100%;
    }
}

@media (min-width:970px) {
    .THIS .uxds .container {
        width: 100%;
    }
}

@media (min-width:768px) {
    .THIS .uxds .container {
        width: 100%;
    }
}